<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload new File</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<!--    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">-->
<!--  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/js/all.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">

    <link rel="stylesheet" href="../static/styleLanding.css" type="text/css">
<!--  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
<!--<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>-->


<!--    <script>-->
<!--    // $(function(){-->
<!--    //   $("#includedContent").load("result.html");-->
<!--    // });-->
<!--    </script>-->
    <link rel="stylesheet" href="../static/style.css" type="text/css">
</head>
<body class="fixed-nav sticky-footer bg-dark" id="page-top">
  <!-- Navigation-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
    <a class="navbar-brand" href="circularMenu.html">ADSLP</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <img style="float:left" width="40" height="20" src="https://www.hcltech.com/sites/default/files/hcl_logo_white_1.png">
      <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
          <a class="nav-link" href="indexLanding.html">
            <i class="fas fa-tachometer-alt"></i>
            <span class="nav-link-text">Dashboard</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Charts">
             <a class="nav-link" href="discoverNav">
            <i class="fa fa-fw fa-chart-area"></i>

            <span class="nav-link-text">eDiscovery</span>
          </a>
<!--          <a class="nav-link" href="eDiscoveryNavigation.html">-->
<!--            <i class="fa fa-fw fa-chart-area"></i>-->

<!--            <span class="nav-link-text">eDiscovery</span>-->
<!--          </a>-->
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Tables">
          <a class="nav-link" href="tables.html">
            <i class="fa fa-fw fa-table"></i>
            <span class="nav-link-text">Catalog</span>
          </a>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-wrench"></i>
            <span class="nav-link-text">Incident Management</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseComponents">
            <li>
              <a href="navbar.html">Navbar</a>
            </li>
            <li>
              <a href="cards.html">Cards</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Example Pages">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-file"></i>
            <span class="nav-link-text">Inventory</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseExamplePages">
            <li>
              <a href="login.html">Login Page</a>
            </li>
            <li>
              <a href="register.html">Registration Page</a>
            </li>
            <li>
              <a href="forgot-password.html">Forgot Password Page</a>
            </li>
            <li>
              <a href="blank.html">Blank Page</a>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Menu Levels">
          <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
            <i class="fa fa-fw fa-sitemap"></i>
            <span class="nav-link-text">Data Sources</span>
          </a>
          <ul class="sidenav-second-level collapse" id="collapseMulti">
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a href="#">Second Level Item</a>
            </li>
            <li>
              <a class="nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti2">Third Level</a>
              <ul class="sidenav-third-level collapse" id="collapseMulti2">
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
                <li>
                  <a href="#">Third Level Item</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Link">
          <a class="nav-link" href="#">
            <i class="fa fa-fw fa-link"></i>
            <span class="nav-link-text">Global Sanctions Catalog</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav sidenav-toggler">
        <li class="nav-item">
          <a class="nav-link text-center" id="sidenavToggler">
            <i class="fa fa-fw fa-angle-left"></i>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-envelope"></i>
            <span class="d-lg-none">Messages
              <span class="badge badge-pill badge-primary">12 New</span>
            </span>
            <span class="indicator text-primary d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="messagesDropdown">
            <h6 class="dropdown-header">New Messages:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>David Miller</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>Jane Smith</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <strong>John Doe</strong>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all messages</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-fw fa-bell"></i>
            <span class="d-lg-none">Alerts
              <span class="badge badge-pill badge-warning">6 New</span>
            </span>
            <span class="indicator text-warning d-none d-lg-block">
              <i class="fa fa-fw fa-circle"></i>
            </span>
          </a>
          <div class="dropdown-menu" aria-labelledby="alertsDropdown">
            <h6 class="dropdown-header">New Alerts:</h6>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-danger">
                <strong>
                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <span class="text-success">
                <strong>
                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>
              </span>
              <span class="small float-right text-muted">11:21 AM</span>
              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item small" href="#">View all alerts</a>
          </div>
        </li>
        <li class="nav-item">
          <form class="form-inline my-2 my-lg-0 mr-lg-2">
            <div class="input-group">
              <input class="form-control" type="text" placeholder="Search for...">
              <span class="input-group-append">
                <button class="btn btn-primary" type="button">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
            <i class="fas fa-sign-out-alt"></i>Logout</a>
        </li>
      </ul>
    </div>
  </nav>
<!--      <ul class="navbar-nav ml-auto">-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            <i class="fa fa-fw fa-envelope"></i>-->
<!--            <span class="d-lg-none">Messages-->
<!--              <span class="badge badge-pill badge-primary">12 New</span>-->
<!--            </span>-->
<!--            <span class="indicator text-primary d-none d-lg-block">-->
<!--              <i class="fa fa-fw fa-circle"></i>-->
<!--            </span>-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="messagesDropdown">-->
<!--            <h6 class="dropdown-header">New Messages:</h6>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">-->
<!--              <strong>David Miller</strong>-->
<!--              <span class="small float-right text-muted">11:21 AM</span>-->
<!--              <div class="dropdown-message small">Hey there! This new version of SB Admin is pretty awesome! These messages clip off when they reach the end of the box so they don't overflow over to the sides!</div>-->
<!--            </a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">-->
<!--              <strong>Jane Smith</strong>-->
<!--              <span class="small float-right text-muted">11:21 AM</span>-->
<!--              <div class="dropdown-message small">I was wondering if you could meet for an appointment at 3:00 instead of 4:00. Thanks!</div>-->
<!--            </a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">-->
<!--              <strong>John Doe</strong>-->
<!--              <span class="small float-right text-muted">11:21 AM</span>-->
<!--              <div class="dropdown-message small">I've sent the final files over to you for review. When you're able to sign off of them let me know and we can discuss distribution.</div>-->
<!--            </a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item small" href="#">View all messages</a>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="nav-item dropdown">-->
<!--          <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">-->
<!--            <i class="fa fa-fw fa-bell"></i>-->
<!--            <span class="d-lg-none">Alerts-->
<!--              <span class="badge badge-pill badge-warning">6 New</span>-->
<!--            </span>-->
<!--            <span class="indicator text-warning d-none d-lg-block">-->
<!--              <i class="fa fa-fw fa-circle"></i>-->
<!--            </span>-->
<!--          </a>-->
<!--          <div class="dropdown-menu" aria-labelledby="alertsDropdown">-->
<!--            <h6 class="dropdown-header">New Alerts:</h6>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">-->
<!--              <span class="text-success">-->
<!--                <strong>-->
<!--                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>-->
<!--              </span>-->
<!--              <span class="small float-right text-muted">11:21 AM</span>-->
<!--              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
<!--            </a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">-->
<!--              <span class="text-danger">-->
<!--                <strong>-->
<!--                  <i class="fa fa-long-arrow-down fa-fw"></i>Status Update</strong>-->
<!--              </span>-->
<!--              <span class="small float-right text-muted">11:21 AM</span>-->
<!--              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
<!--            </a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item" href="#">-->
<!--              <span class="text-success">-->
<!--                <strong>-->
<!--                  <i class="fa fa-long-arrow-up fa-fw"></i>Status Update</strong>-->
<!--              </span>-->
<!--              <span class="small float-right text-muted">11:21 AM</span>-->
<!--              <div class="dropdown-message small">This is an automated server response message. All systems are online.</div>-->
<!--            </a>-->
<!--            <div class="dropdown-divider"></div>-->
<!--            <a class="dropdown-item small" href="#">View all alerts</a>-->
<!--          </div>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <form class="form-inline my-2 my-lg-0 mr-lg-2">-->
<!--            <div class="input-group">-->
<!--              <input class="form-control" type="text" placeholder="Search for...">-->
<!--              <span class="input-group-append">-->
<!--                <button class="btn btn-primary" type="button">-->
<!--                  <i class="fa fa-search"></i>-->
<!--                </button>-->
<!--              </span>-->
<!--            </div>-->
<!--          </form>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--          <a class="nav-link" data-toggle="modal" data-target="#exampleModal">-->
<!--            <i class="fas fa-sign-out-alt"></i>Logout</a>-->
<!--        </li>-->
<!--      </ul>-->

  <div class="content-wrapper">
<!--    <div class="container-fluid">-->
      <!-- Breadcrumbs-->
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="eDiscoveryNavigation.html">eDiscovery</a>
        </li>
        <li class="breadcrumb-item active">Scan Emails</li>
           <li class="breadcrumb-item active">Result</li>
      </ol>
<!--<body style="background-color: lightgray">-->
<center>
<!--<img src="https://www.hcltech.com/sites/default/files/styles/large/public/images/guideline_based1.png?itok=JdASqCkG" style="-->
<!-- position: absolute;-->
<!--    width: 200px;-->
<!--    height: 100px;-->
<!--    top: 30px;-->
<!--    left: -10px;">-->
<!--	<br>-->
<!--	<br>-->

<h1 style="color: #0D4F8B;font-weight:900;font-style: italic"> eDISCOVERY MAILBOX</h1>
<!--    <div class="dbox__icon">-->
<!--					<i class="glyphicon glyphicon-envelope"></i>-->
<!--				</div>-->
<br>
	<br>
	<br>

    <div class="container">
	<div class="row">
		<div class="col-md-3">
			<div class="dbox dbox--color-5">
				<div class="dbox__icon">

                    <i class="fa fa-envelope fa-2x" style="color: white ;margin-left: 5px" ></i>
<!--					<i class="glyphicon glyphicon-envelope"></i>-->
				</div>
				<div class="dbox__body">
					<span class="dbox__count">11</span>
					<STRONG> <span class="dbox__title">TOTAL EMAILS SCANNED</span></STRONG>
				</div>

<!--				<div class="dbox__action">-->
<!--					<button class="dbox__action__btn">More Info</button>-->
<!--				</div>-->
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-2">
				<div class="dbox__icon">
					<i class="fa fa-download fa-2x" style="color: white ;margin-left: 5px" ></i>
				</div>
				<div class="dbox__body">
					<span class="dbox__count">10</span>
					<strong> <span class="dbox__title">TOTAL ATTACHMENTS FOUND</span></strong>
				</div>

<!--				<div class="dbox__action">-->
<!--					<button class="dbox__action__btn">More Info</button>-->
<!--				</div>-->
			</div>
		</div>
		<div class="col-md-3">
			<div class="dbox dbox--color-1">
				<div class="dbox__icon">
                    <i class="fa fa-exclamation fa-2x" style="color: white ;margin-left:16px" ></i>
<!--					<i class="glyphicon glyphicon-exclamation-sign"></i>-->
				</div>
				<div class="dbox__body">
					<span class="dbox__count">6</span>

					<strong><span class="dbox__title">TOTAL THREATS</span></strong>
				</div>

<!--				<div class="dbox__action">-->
<!--					<button class="dbox__action__btn">More Info</button>-->
<!--				</div>-->
			</div>
		</div>

        <div class="col-md-3">
			<div class="dbox dbox--color-4">
				<div class="dbox__icon">
                    <i class="fa fa-check fa-2x" style="color: white;margin-left: 5px"  ></i>
<!--					<i class="glyphicon glyphicon-ok-sign"></i>-->
				</div>
				<div class="dbox__body">
					<span class="dbox__count">5</span>
					<span class="dbox__title">SAFE EMAILS</span>
				</div>

			</div>
		</div>
	</div>
</div>


    <table class="container"  style="padding-left: 5px">
        <form class="form-inline" method="POST" action="/displayFile">
			<thead>
		<tr>
			<th ><h1>Sr. No </h1></th>
			<th><h1>Subject </h1></th>
			<th><h1>From </h1></th>
			<th><h1>To</h1></th>
			<th><h1>Ml Score (1st Level)</h1></th>
			<th><h1>Attchment Count </h1></th>
        <th><h1>2nd Level Val Status</h1></th>
			<th><h1>

				<button type="submit" class="btn btn-primary" > Get Result </button>

				</h1></th>
		</tr>
	</thead>

	<tbody>
    {% for x in var %}

    <tr style="outline: thin solid">
                <td style="outline: thin solid; color: #0E1119">{{ loop.index }}</td>
                <td style="outline: thin solid">{{x[0]}}</td>
                <td style="outline: thin solid">{{x[1]}}</td>
                <td style="outline: thin solid">{{x[2]}}</td>
                <td style="outline: thin solid">{{x[5]}}</td>
                <td style="outline: thin solid">{{x[3]}}
                    <br>
                    <img src="../static/attachementIcon.png" width="30" height="30"></td>
                <td style="outline: thin solid">{{x[4]}}</td>
                <td style="outline: thin solid"><input type="radio" id={{loop.index}} name="comp_select" value={{loop.index}}></td>
    </tr>


     {% endfor %}
	</tbody></form>



</table>



</center>
<!--<p>{{ var }}</p>-->


  </div>
</body>
</html>
