<!DOCTYPE html>
<html>
  <head>
    <title>Registration with facebook, twitter and google</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
      <link rel="stylesheet" href="static/sec_style.css" type="text/css">
  </head>
  <body>
    <center>
    <div class="main-block">
      <div class="block-item center">
        <img src="https://www.hcltech.com/sites/default/files/styles/large/public/images/guideline_based1.png?itok=JdASqCkG">
        <img src="https://www.securitymagazine.com/ext/resources/secenews/2018/fraud-900.jpg?1520959590">

        <h1>INSIDER RISK MANAGEMENT</h1>
        <h3>Read email and run ML Model</h3>
        </p>
      </div>
      <div class="block-item center">
         <form action="/uploader" method=post >
                <input type=submit value="Button Click">
            </form>
<!--           <form action="/uploader" method="GET">-->
<!--        <button class="btn twitter" ></i><span>Scan Email and Run</span></button>-->
<!--              </form>-->
      </div>
    </div></center>
  </body>
</html>